@import './bootstrap.min.css';
img[alt="ag-Grid Logo"] {
    display: block;
    margin: auto;
    width: 250px;
}
.container{
  margin-top: 80px;
}
.card-header {
    background: white;
}
.cellStyle:focus{
  border-style: none !important;

}
form,input,label,title{
  direction: rtl;
}
title{
  float: right;
  text-align: right;
}
.col-form-label{
  text-align: right;
}